#PyCharm files
.idea/

# Byte-compiled / optimized / DLL files
*.py[cod]
### Python template

# Distribution / packaging
.Python
build/
dist/
lib/
*.egg-info/
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Unit test / coverage reports
.tox/
.cache
